@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar */
html, body {
    scrollbar-color: #F59E0B #1C1917;
    scrollbar-width: thin;
}
::-webkit-scrollbar {
    width: 5px;
    height: 15px;
}
::-webkit-scrollbar-track-piece {
    background-color: #1C1917;
}
::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: #F59E0B;
}

/* Links */
a {
    @apply text-amber-500;
}

a:hover {
    @apply text-amber-400 duration-200;
}

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}